
body {
    text-align: center;
    background-color: rgb(64, 213, 114);
}

h1 {
    font-size: Arial ;
    color: beige;
    text-decoration: underline;
}

h2{
        font-family:Bradley Hand ;
        color: #1c1919;
}
#voiture{
    font-family: Kavivanar ;
        color: red;
}

